* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}
