* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    display: block;
    width: fit-content;
    padding: 15px;
    margin-top: 20px;
    background-color: blue;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
}
